<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <!-- Определение Appender'ов -->
    <Appenders>

        <!-- Консольный Appender для вывода логов в консоль -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %c{1}:%L - %m%n"/>
        </Console>

        <!-- Файловый Appender для сохранения логов в файл -->
        <File name="File" fileName="D:\Университет\Университет\3 курс актуально\DataBase\DataBase\WebApp\logs\app.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %c{1}:%L - %m%n"/>
        </File>

    </Appenders>

    <!-- Определение логгеров -->
    <Loggers>

        <!-- Корневой логгер с двумя аппендерами -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>

        <!-- Логгер для вашего пакета, например для debug информации -->
        <Logger name="com.example" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

    </Loggers>
</Configuration>
